.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    padding: 20px;
}

.full-width {
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.buttonconnexion {
    background-color: green;
    padding: 5%;
    margin-right: auto;
    color: white;
}