<div class="page">



    <div class="profile-container">
        <!-- Left Card -->
        <div class="profile-card">
            <img src="https://cdn-icons-png.flaticon.com/512/1999/1999625.png" alt="Profile Avatar">
            <h2>John Smith</h2>
            <p>Full Stack Developer</p>
            <p>Bay Area, San Francisco, CA</p>
        </div>

        <!-- Right Details -->
        <div class="details">
            <div class="row">
                <strong>Full Name</strong>
                <p>Johnatan Smith</p>
            </div>
            <div class="row">
                <strong>Email</strong>

            </div>
            <div class="row">
                <strong>Phone</strong>
                <p>(097) 234-5678</p>
            </div>
            <div class="row">
                <strong>Mobile</strong>
                <p>(098) 765-4321</p>
            </div>
            <div class="row">
                <strong>Address</strong>
                <p>Bay Area, San Francisco, CA</p>
            </div>
        </div>
    </div>

</div>