<div class="page">



    <div class="profile-container">
        <!-- Left Card -->
        <div class="profile-card">
            <img src="https://cdn-icons-png.flaticon.com/512/1999/1999625.png" alt="Profile Avatar">
            <h2>Patient</h2>

        </div>

        <!-- Right Details -->
        <div class="details">
            <div class="row">
                <strong>Nom</strong>
                <p>{{patientconnecte?.nom}}</p>
            </div>
            <div class="row">
                <strong>Prenom</strong>
                <p>{{patientconnecte?.prenom}}</p>

            </div>
            <div class="row">
                <strong>Email</strong>
                <p>{{patientconnecte?.email}}</p>

            </div>
            <div class="row">
                <strong>Matricule</strong>
                <p>{{patientconnecte?.matricule}}</p>

            </div>
            <button style="background-color: greenyellow; paadding : 120px"
                (click)="editpatient(patientconnecte?.id)">Edit Profil</button>
        </div>

    </div>

</div>