<form class="login-form" [formGroup]="formconnexion" (ngSubmit)="onSubmit()">
    <p style="text-align: center; font-weight: bold;">Connexion</p>


    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Choisissez votre statut</mat-label>
        <mat-select formControlName="status" required>
            <mat-option value="patient">Patient</mat-option>
            <mat-option value="medecin">Médecin</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- ✅ Champ Email -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="exemple@mail.com" />
        <mat-error *ngIf="formconnexion.get('email')?.hasError('required')">
            L'email est requis
        </mat-error>
        <mat-error *ngIf="formconnexion.get('email')?.hasError('email')">
            L'email n'est pas valide
        </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Votre mot de passe" />
        <mat-error *ngIf="formconnexion.get('password')?.hasError('required')">
            Le mot de passe est requis
        </mat-error>
    </mat-form-field>


    <div class="btn-container" style="text-align: center;">
        <button mat-raised-button color="primary" type="submit" [disabled]="formconnexion.invalid">
            Se connecter
        </button>
    </div>
</form>