<div class="wrapper">


    <mat-toolbar color="primary">



        <img id="logo" src="../../assets/images/logoclinique.jpg" alt="">
        <span class="toolbarpadding"></span>

        <button mat-raised-button color="accent" (click)="deconnexion()"> Deconnexion </button>
    </mat-toolbar>
    @if(patientconnecte!=null){ <div class="infospatient">
        <table>
            <tr>
                <td>Profil: <button
                        style="background-color: greenyellow; padding: 5px; border: 2px solid white;">PATIENT</button>
                </td>
                <td>NOM:{{patientconnecte.nom}}</td>
                <td>PRENOM : {{patientconnecte.prenom}}</td>
                <td>MATRICULE : {{patientconnecte.matricule}}</td>
            </tr>
        </table>
    </div> } @if(medecinconnecte!=null){ <div class="infospatient">
        <table>
            <tr>
                <td>PROFIL: <button
                        style="background-color: greenyellow; padding: 5px; border: 2px solid white;">Medecin</button>
                </td>
                <td>NOM:{{medecinconnecte.nom}}</td>
                <td>PRENOM: {{medecinconnecte.prenom}}</td>
                <td>MATRICULE : {{medecinconnecte.matricule}}</td>
            </tr>
        </table>
    </div> }
    <mat-drawer-container class="example-container">
        <!-- Menu latéral -->
        <mat-drawer mode="side" opened="true" class="side-menu">
            <mat-nav-list>

                @if(patientconnecte != null) {
                <mat-list-item>
                    <button mat-raised-button class="btn-green" routerLink="profile">Profile Patient</button>
                </mat-list-item>

                <mat-list-item>
                    <button mat-raised-button class="btn-green" routerLink="myconsultation">Mes consultations</button>
                </mat-list-item>

                <mat-list-item>
                    <button mat-raised-button class="btn-green" routerLink="takerendezvous">
                        Prendre Rendez-vous
                    </button>
                </mat-list-item>

                <mat-list-item>
                    <button mat-raised-button class="btn-green" routerLink="rendezvouspatient">
                        Mes rendez-vous
                    </button>
                </mat-list-item>
                }

                @if(medecinconnecte != null) {
                <mat-list-item>
                    <button mat-raised-button class="btn-green" routerLink="profilemedecin">Profile Médecin</button>
                </mat-list-item>

                <mat-list-item>
                    <button mat-raised-button class="btn-green" routerLink="rendezvous">
                        Mes rendez-vous
                    </button>
                </mat-list-item>

                <mat-list-item>
                    <button mat-raised-button class="btn-green" routerLink="addrendezvous">
                        Ajouter un rendez-vous
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="btn-green" (click)="addmedecin()">
                        Ajouter un Medecin
                    </button>
                </mat-list-item>
                }

            </mat-nav-list>
        </mat-drawer>

        <mat-drawer-content class="main-content">
            <section class="dashbordacceuil">
                <h1 style="color: white;">Bienvenue dans votre espace santé</h1>
            </section>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>


    <footer class="footer">
        <div class="container" style="text-align: center;">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">CABINET MEDICAL
                        content.
                    </p>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2025Copyright Text

            </div>
        </div>
    </footer>

</div>