.toolbarpadding {
    flex: auto;
}


router-outlet {

    width: auto;
    height: auto;
}


.example-container {
    width: auto;
    height: 200px;
    margin: 0px;
    border: 1px solid #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
     content */
    background: #eee;
}

mat-drawer-content {
    margin: auto;
}

.btn-green {
    background-color: #202124 !important;
    color: white !important;
    font-weight: 500;
    border-radius: 8px;
    width: 100%;
}

.btn-green:hover {
    background-color: #43a047 !important;

}

.hoverliste:hover {
    display: none;
}

.page-footer {
    background-color: gainsboro;
}

.formdialogueinscription {
    background-color: #43a047;
    margin-left: 10%;

}

.custom-dialog-container {
    border-radius: 12px !important;
    padding: 20px !important;
    overflow: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
}

.example-container {
    flex: 1;
    display: flex;
    height: 90vh;/
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Assure que le wrapper prend au moins 100% de la hauteur de la vue */
}

.content {
    flex: 1;
    /* Prend l'espace restant pour pousser le footer vers le bas */
}


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #ff4d29;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0, 0, 0, 0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);

}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
    font-weight: 700;
    color: var(--dark);
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}



footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url(../../assets/images/bg_banner2.jpg), #082032;
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}