<form class="login-form" [formGroup]="formpatientgroupe" (ngSubmit)="editmedecin()">
    <p>Edité Patient</p>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nom" placeholder="Votre nom" type="text">

                </mat-form-field>
            </td>
        </tr>
        <tr>


            <td>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>prenom</mat-label>
                    <input matInput formControlName="prenom" placeholder="Votre prenom" type="text">

                </mat-form-field>
            </td>
        </tr>
        <tr>


            <td>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Votre email" type="email">
                </mat-form-field>

            </td>
        </tr>

        <tr>


        </tr>
    </table>


    <!-- Bouton -->
    <div class="btn-container">
        <button [disabled]="!formpatientgroupe.valid" mat-raised-button class="buttoninscription" color="primary"
            type="submit">
            Editer
        </button>
    </div>
</form>