.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    margin-right: 30%;
    width: 100%;
}

.full-width {
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.buttoninscription {
    background-color: green;
    padding: 8%;
    margin-right: auto;
    color: white;
}

.tes {
    width: 200px;
    height: 30%;
    /* ✅ largeur fixe */
    font-size: 14px;
    background-color: black;
}